.zarial {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.eqinthenews {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.neic_bar {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.decor_none {
	TEXT-DECORATION: none
}
